<div class="d-flex flex-column p-3 flex-shrink-0 text-white bg-dark min-vh-100 sidebar">
    <a class="
        d-flex 
        align-items-center
        mb-6 mb-md-0 me-md-auto
        text-white
        text-decoration-none"><mat-icon>touch_app</mat-icon><b class="ms-2">ICNS</b></a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto align-items-stretch">

        <li class="nav-item">
            <a class="
                p-3
                nav-link 
                text-white
                d-flex
                active
                align-items-center" routerLink="/home/test">

                <mat-icon class="me-2"> bar_chart</mat-icon>
                Produtos
            </a>
        </li>

        <li class="nav-item">
            <a class="
                p-3
                nav-link 
                d-flex
                text-white
                align-items-center" routerLink="cadasEmpre">

                <mat-icon class=" me-2"> attach_money</mat-icon>
                Vendas
            </a>
        </li>

    </ul>
    <hr>
    <div>
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/diogohenbarbosa.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>
                DiogoHenBarbosa
            </strong>
        </a>
    </div>
</div>
