<form class="Form_cadastro_empresa">
    <h3 class="cadasTitle">Cadastro de empresas</h3>
    <br>
    <div class="form-group">
        <label for="exampleInputPassword1" class="label_title">CNPJ</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <br>
    <div class="form-group">
      <label for="exampleInputEmail1" class="label_title">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1" class="label_title">Nome da Empresa</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputPassword1" class="label_title">Contatos</label>
        <input type="tel" class="form-control" id="exampleInputPassword1">
      </div>
      <br>
    <button type="submit" class="btn btn-primary ms-2 py-2">Cadastrar</button>
</form>