<div ngbDropdown>

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar shadow min-vh-100 h-100 collapse">
        <div class=" position-sticky">
            <div class="navbar navbar-dark bg-dark text-white p-2 ">

                <p>
                    <b>Username:</b> {{user.username}}
                </p>
            </div>
            <div class="navbar navbar-dark bg-dark text-white p-2">
                <p>
                    <b>Nome:</b> {{user.name}}
                </p>
            </div>


            <ul class="nav flex-column p-2 bg-white">

                <li class="nav-item dropdown ">
                    <a class="nav-link d-flex text-black align-items-center dropdown-toggle" role="button"
                        aria-expanded="false" data-bs-toggle="dropdown" href="#" id="navbarDarkDropdownMenuLink"
                        data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown">
                        <mat-icon class=" me-2"> attach_money</mat-icon>Empresas
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav ps-5">
                            <li class="nav-item g-3">
                                <button class="nav-link text-black active" routerLink="/areaLogado/empresas/cadastrar"
                                    routerLinkActive="active">
                                    Cadastrar
                                </button>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-black" routerLink="/areaLogado/empresas/listar"
                                    routerLinkActive="active">
                                    Listar
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>



                <li class="nav-item dropdown ">
                    <a class="nav-link d-flex text-black align-items-center dropdown-toggle" role="button"
                        aria-expanded="false" data-bs-toggle="dropdown" href="#" id="navbarDarkDropdownMenuLink"
                        data-bs-toggle="collapse" data-bs-target="#navbarProdutos">
                        <mat-icon class="me-2"> bar_chart</mat-icon>Produtos </a>
                    <div class="collapse navbar-collapse" id="navbarProdutos">
                        <ul class="navbar-nav ps-5">
                            <li class="nav-item g-3">
                                <button class="nav-link text-black active" routerLink="/areaLogado/produtos/cadastrar"
                                    routerLinkActive="active">
                                    Cadastrar
                                </button>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-black" routerLink="/areaLogado/empresas/listar"
                                    routerLinkActive="active">
                                    Listar
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>



        </div>



    </nav>

</div>