<div class="container w-50">
  <form class="d-flex row  ">
    <h1 class="h3">Cadastrar Produtos</h1>

    <div class="mb-3">

      <label for="labelNomeProduto" class="form-label">
        Nome do produto
      </label>

      <input type="text" class="form-control" id="inputNomeProduto" name="nomeProduto">
    </div>

    <div class="mb-3">
      <label for="labelCodProd" class="form-label">Código do Produto</label>

      <input type="text" class="form-control" id="inputCodProd" name="CodProd">
    </div>

    <div class="mb-3">
      <label for="labelDataVencimento" class="form-label">
        Data de Vencimento
      </label>

      <input type="date" class="form-control" id="inputDataVencimento" name="dataVencimento">
    </div>

    <div class="mb-3">
      <label for="labelDescricao" class="form-label">
        Descrição
      </label>

      <input type="textarea" class="form-control" id="inputDescricao" name="descricao">
    </div>

    <div class="mb-3">
      <label for="labelValorUnitario" class="form-label">
        Valor por unidade
      </label>

      <input type="text" class="form-control" id="inputValorUnitario" name="valorUnitario">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary py-2">
        Cadastrar
      </button>

    </div>


  </form>
</div>