<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <label name="labelCnpj">
                CNPJ
            </label>
            <input type="text" naem="cnpj" class="form form-control">
            <div>

                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
            <label name="labelNomeProduto">
                Nome do produto 
            </label>
            <input type="text" name="nomeProduto" class="form form-control">
            <label name="labelDataVencimento">
                Data de vencimento
            </label>
            <input type="text" name="dataVencimento" class="form form-control">
            <label name="labelCodProd">
                Código do produto
            </label>
            <input type="text" name="codProd" class="form form-control">
            <label name="labelDescricao">
                Descrição
            </label>
            <input type="text" name="descricao" class="form form-control">
            <label name="labelValorUnitario">
                Valor por unidade
            </label>
            <input type="text" name="valorUnitario" class="form form-control">
        </form>
        <div>
            <button mat-button matStepperPrevious>Back</button>

            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>

    </mat-step>

</mat-stepper>
