<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 ">
    <a class="
    col-md-3
    col-lg-2
    me-0
    px-3
    d-flex 
    text-decoration-none
    align-items-center
    justify-content-center
    text-white"><mat-icon>touch_app</mat-icon>ICNS</a>

    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <input class="form-control form-control w-100 shadow" type="text" placeholder="Search" aria-label="Search"
        spellcheck="false" data-ms-editor="true">

    <div class="navbar-nav ">
        <div class="nav-item text-nowrap  text-white">
            <a class="nav-link px-3" (click)="sair()">Sair</a>
        </div>
    </div>
</header>